@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 180 30% 98%;
  --foreground: 180 25% 10%;
  --verdigris: 181 38% 43%;
  --emerald: 157 54% 57%;
  --lightgreen: 140 80% 71%;
  --primary-foreground: 0 0% 100%;
  --secondary-foreground: 0 0% 100%;
  --accent-foreground: 0 0% 100%;
}

.dark {
  --background: 180 30% 4%;
  --foreground: 180 25% 98%;
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer components {
  .glass-effect {
    @apply bg-white/30 dark:bg-black/30 backdrop-blur-glass border border-white/10;
  }
}